@import url("https://fonts.googleapis.com/css2?family=Nova+Square&display=swap");

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  font-family: "Nova Square", cursive;
  background: linear-gradient(323deg, #ffdab9, rgb(51, 53, 172));
}

.text-1 {
  text-shadow: 1px 1px rgb(27, 30, 73);
  color: #ffdab9;
  font-size: 24px;
  padding: 0 0 20px 0;
}

.jsType {
  color: white;
}

.chat-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 60%;
  height: 50%;
  background-color: rgb(27, 30, 73);
  border-radius: 4px;
  padding: 10px;
}

.message-container {
  background-color: aliceblue;
  height: 100%;
  width: 70%;
  border-radius: 4px;
}

#message-box {
  background-color: white;
  height: 80%;
  width: 100%;
  overflow-y: scroll;
  border-radius: 4px;
}

#message-box li {
  list-style-type: none;
  padding: 10px;
}

#message-box li:nth-child(odd) {
  background-color: aliceblue;
}

#typing-box {
  width: 100%;
  height: 22px;
}

#typing-box li {
  list-style-type: none;
  margin-left: 5px;
}

.send-box {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.send-box button {
  border: none;
  border-radius: 4px;
  margin: 5px;
  background: linear-gradient(to bottom, #202c59 5%, #3f3788 100%);
  color: white;
  cursor: pointer;
  box-shadow: 1.5px 2px 0px 0px peachpuff;
}

.send-box button:hover {
  box-shadow: 0px 10px 13px -7px #000000;
  background: linear-gradient(to bottom, #3f3788 5%, #202c59 100%);
}

/* input */

#message {
  width: inherit;
  border-radius: 4px;
  border: 1px solid whitesmoke;
}

.gif {
  width: 50%;
}

#side-users {
  width: 25%;
  background: linear-gradient(to bottom, #202c59 5%, #3f3788 100%);
  background-color: #202c59;
  height: 100%;
  border-radius: 4px;
  text-align: center;
  color: peachpuff;
  display: flex;
  flex-direction: column;
}

#side-users h3 {
  color: peachpuff;
}

#side-users div li {
  list-style-type: none;
  color: white;
}

#user-list {
  flex-direction: column;
}

.myButton {
  box-shadow: 3px 4px 0px 0px peachpuff;
  background: linear-gradient(to bottom, #202c59 5%, #3f3788 100%);
  background-color: #202c59;
  border-radius: 5px;
  border: 1px solid #202c59;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  font-weight: bold;
  padding: 12px 44px;
  text-decoration: none;
  margin-top: 30px;
}

.myButton:hover {
  background: linear-gradient(to bottom, #3f3788 5%, #202c59 100%);
}

.myButton:active {
  position: relative;
  top: 1px;
}

/* Mobile */

@media screen and (max-width: 425px) {
  .myButton {
    padding: 2px 6px !important;
  }
}

@media screen and (max-width: 768px) {
  .chat-container {
    width: 100%;
  }
  .gif {
    width: 80%;
  }
}

@media screen and (max-width: 1024px) {
  .myButton {
    padding: 6px 22px;
  }
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 4% 0%;
  }
  50% {
    background-position: 97% 100%;
  }
  100% {
    background-position: 4% 0%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 4% 0%;
  }
  50% {
    background-position: 97% 100%;
  }
  100% {
    background-position: 4% 0%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 4% 0%;
  }
  50% {
    background-position: 97% 100%;
  }
  100% {
    background-position: 4% 0%;
  }
}